
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,
ol,
li{
    list-style:none;
}

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}

html,
body{
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #252B42;
    font-weight: 500;
    background-color: #ffffff;;
}
.header{
    z-index: 50;
}

.container{
    margin:0px auto;
    box-sizing: content-box;
    width: 100%;
}

.wrapper{
    min-height: 100%;
    max-width: 1440px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0 auto;
}
.headerd{
    background-color: #1B1B1A;
}
.itemhead{
    display: flex;
    flex-direction: row;
}
.logo{
    font-family: 'Darker Grotesque', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 30px;
    text-align: left;
    margin-top: 76px;
    margin-bottom: 81px;
    margin-right: 39px;
}
.avtocamin{
    text-align: left;
    margin-bottom: 81px;
    color: #6D6D6D;
    font-size: 12px;
    font-weight: 400;
    width: 99px;
    margin-top: 82px;
    margin-right: 480px;
}
.buttons{
    height: 16px;
    width: 649px;
    margin-top: 83px;
    font-size: 13px;
    font-weight: 100;

}
.butn{
    color: #949494;
    margin-right: 39px;
}
.butn1{
    color: #FFCF7A;
    margin-right: 39px;
}
.avtocamin1{
    font-weight: 10;
    font-size: 64px;
    color: #ffffff;
    margin-bottom: 29px;
    width: 300px;
}
.colm{
    display: flex;
    flex-direction: row;
}
.mainblc{
    background-color: #1B1B1A;
}
.imgcamin{
    margin-left: 208px;
}
.textcamin{
    display: flex;
    flex-direction: column;
}
.ot99{
    color: #FFCF7A;
    font-weight: 100;
    font-size: 18px;
}
.tic9{
    font-weight: 100;
    font-size: 36px;
    color: #FFCF7A;
}
.prois{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}
.imgnactr{
    width: 30px;
    height: 30px;
    margin-left: 32px;
    margin-bottom: 14px;
}
.imgnactr1{
    width: 30px;
    height: 30px;
    margin-left: 46px;
    margin-bottom: 14px;
}
.nactr{
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    width: 91px; 
    text-align: center;
    
}
.nactr1{
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    width: 120px; 
    text-align: center;
}
.inf{
    display: flex;
    flex-direction: row;
    margin-top: 86px;
}
.imgtele{
    margin-top: -20px;
}
.nactcamin{
    font-weight: 100;
    font-size: 45px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    width: 698px;
    margin-bottom: 21px;
}
.twoblc{
    display: flex;
    flex-direction: column;
    margin-top: 223px;
}
.speztex{
    font-weight: 100;
    font-size: 20px;
    width: 560px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
}
.ezecakin{
    margin-top: -28;
}
.xarakt{
    display: flex;
    flex-direction: row;
    margin-left: 136px;
}
.imgo{
    margin-right: 29px;
}
.texto{
    color: #ffffff;
    font-weight: 100;
    font-size: 16px;
    width: 189px;
    margin-top: 11px;
}
.textt{
    color: #ffffff;
    font-weight: 100;
    font-size: 16px;
    width: 185px;
    margin-top: 11px;
}
.textth{
    color: #ffffff;
    font-weight: 100;
    font-size: 16px;
    width: 195px;
    margin-top: 18px;
}
.xar{
    display: flex;
    flex-direction: row;
    margin-right: 140px;
}
.zaprtext{
    margin-top: 224px;
    margin-left: 137px;
    font-weight: 100;
    font-size: 40px;
    color: #ffffff;
}
.truba{
    width: 370px;
    color: #ffffff;
    font-weight: 100;
    font-size: 18px;
    margin-top: 23px;
    margin-left: 137px;
}
.colmn{
    display: flex;
    flex-direction: column;
}
.thrblc{
    display: flex;
    flex-direction: row;
}
.itsrow{
    display: flex;
    flex-direction: row;    
}
.zaprvk{
    margin-top: -11px;
    margin-left: 113px;
    width: 800px;
    height: 800px;
}
.elipsone{
    margin-top: -442px;
    margin-left: 317px;
}
.elipstwo{
    margin-top: -404px;
    margin-left: -81px;  
}
.threefife{
    margin-top: -598px;
    margin-left: 532px;      
}
.svet{
    margin-top: -871px;
    margin-left: 185px;    
}
.hose{
    margin-top: 74px;
    margin-left: 549px;
}
.line{
    margin-top: 71px;
    margin-left: 21px;
}
.power{
    margin-top: 74px;
    margin-left: 17px;
}
.doct{
    color: #ffffff;
    margin-top: 19px;
    margin-left: 549px;
    width: 187px;
}
.chastizapr{
    margin-left: -235px;
}
.ymno{
    font-weight: 100;
    font-size: 45px;
    color: #ffffff;
    margin-left: 350px;
}
.tire{
    margin-top: -23px;
    margin-left: 664px;
}
.dazeecli{
    font-weight: 100;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 32px;
    margin-left: -9px;
}
.alicaimihome{
    margin-top: 14px;
}
.etorowfivblc{
    display: flex;
    flex-direction: row;
}
.toplivo{
    font-weight: 100;
    font-size: 24px;
    color: #ffffff;
    margin-top: 113px;
    margin-bottom: 25px;
}
.toplivo2{
    font-weight: 100;
    font-size: 24px;
    color: #ffffff;
    margin-top: 181px;
    margin-bottom: 25px;
}
.panel{
    font-weight: 100;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 37px;
}
.galkaone{
    margin-top: -22px;
}
.galkatwo{
    margin-top: -35px;
    margin-left: -124px;
}
.bolshecakinov{
    margin-top: -18px;
}
.otdelka{
    color: #757575;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 26px;
}
.variantione{
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
}
.block{
    margin-right: 94px;
}
.block2{
    margin-top: 44px;
}
.rownyzno{
    display: flex;
    flex-direction: row;
    margin-top: 51px;
    margin-bottom: 0;
}
.vibor{
    margin-top: 2px;
}
.catalog{
    font-weight: 100;
    font-size: 30px;
    color: #ffffff;
    margin-left: 289px;
    margin-top: 106px;
}
.givemecatalog{
    margin-left: 579px;
    margin-top: 36px;
}
.zadacha{
    margin-left: 35px;
    margin-top: 132px;
    margin-bottom: 45px;
    color: #ffffff;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
}
.kvadrati{
    display: flex;
    flex-direction: row;  
    margin-bottom: 90px;  
}
.kvadrat{
    margin-right: 42px;
}
.kvadrat1{
    margin-right: 42px;
    margin-left: 123px;
}
.svoi{
    margin-left: 19px;
    margin-bottom: 50px;
    color: #ffffff;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
}
.youavtor{
    margin-left: 330px;
    margin-bottom: 67px;
    color: #ffffff;
    font-weight: 100;
    font-size: 40px;
}
.nadodlarowa{
    display: flex;
    flex-direction: row;    
}
.blokone{
    margin-right: 85px;
}
.ezeodincamin{
    margin-bottom: 71px;
}
.clasi{
    display: flex;
    flex-direction: row;     
}
.dlina{
    opacity: 0.5;
    color: #ffffff;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 20px;
}
.perviiblock{
    margin-right: 191px;
}
.svnblc{
    margin-left: 122px;
    margin-bottom: 89px;
}
.metra6{
    font-size: 24px;
    font-weight: 100;
    color: #ffffff;
}
.kryzokorang{
    margin-top: -6px;
}
.viberidliny{
    opacity: 0.5;
    color: #ffffff;
    font-weight: 100;
    font-size: 10px;
    margin-bottom: 17px;    
}
.ot5do10{
    display: flex;
    flex-direction: row;       
    margin-bottom: 17px;
}
.nolpyat{
    width: 46px;
    color: #ffffff;
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 6px;  
    margin-right: 39px;      
}
.grayline{
    margin-top: -12px;
    margin-left: 75px;
}
.yellowline{
    margin-top: -12px;
    margin-left: -441px;   
}
.regylirovat{
    margin-top: -9px;
    margin-left: -28px;    
}
.decat{
    width: 46px;
    color: #ffffff;
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 2px;  
    margin-left: 172px;      
}
.imgliqevaipanel{
    margin-bottom: 18px;
}
.strela{
    margin-right: 22px;
    margin-top: 21px;
}
.reversestrela{
    margin-left: 22px;
    margin-top: 21px;
}
.viborpaneli{
    margin-left: 124px;
    margin-bottom: 11px;
}
.panelkavibora{
    margin-right: 4px;
}
.funcion{
    display: flex;
    flex-direction: row;  
    margin-bottom: 80px;  
}
.kaketonazvat{
    margin-right: 86px;
}
.kaketonazvat2{
    display: flex;
    flex-direction: column;
    margin-left: 172px;
    margin-top: -99px;  
}
.kvadratyellow{
    width: 20px;
    height: 20px;
    margin-top: 13px;
    margin-bottom: -6px;
}
.plusik{
    width: 8px;
    height: 8px;
    margin-top: -54px;
    margin-left: 6px;   
}
.plusik2{
    width: 8px;
    height: 8px;
    margin-bottom: 13px;
    margin-top: -13px;
    margin-left: 6px;
}
.zachita{
    color: #ffffff;
    font-weight: 100;
    font-size: 14px;
}
.razblok{
    margin-right: 143px;
}
.kvadratyellow1{
    width: 20px;
    height: 20px;
    margin-bottom: 41px;
}

.kvadratyellow2{
    width: 20px;
    height: 20px;
    margin-bottom: 7px;
}
.kvadratyellow3{
    width: 20px;
    height: 20px;
}
.dlina1{
    opacity: 0.5;
    color: #ffffff;
    font-weight: 100;
    font-size: 12px;
    margin-top: 31px;
    margin-bottom: 20px;
}
.oqenmnogodeneg{
    color: #FFCF7A;
    font-weight: 100;
    font-size: 36px;
 
}
.ctoit{
    display: flex;
    flex-direction: row; 
}
.I{
    margin-right: 175px;
}
.octavitzayavky{
    margin-top: 36px;
}
.footerd{
    background-color: #121212;
}
.svias{
    color: #ffffff;
    font-weight: 100;
    font-size: 40px;
    margin-top: 72px;
    margin-bottom: 71px;
    margin-left: 117px;
}
.threeblocksrow{
    display: flex;
    flex-direction: row;  
    margin-bottom: 66px; 
    margin-left: 117px;
}
.adresa{
    color: #949494;
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 12px;
}
.nomera{
    color: #ffffff;
    font-weight: 100;
    font-size: 22px;
}
.nomera2{
    color: #FFCF7A;
    font-weight: 100;
    font-size: 22px;
}
.nomera3{
    color: #ffffff;
    font-weight: 100;
    font-size: 36px;
}
.oneblockinthree{
    margin-right: 217px;
}
.ughone{
    margin-bottom: 50px;
}
.twoblockinthree{
    margin-right: 248px;
}
.obvodka{
    margin-top: 61px;
}
.linerazdelit{
    margin-bottom: 40px;
    margin-left: -57px;
}
.rowezerowrow{
    width: max-content;
    display: flex;
    flex-direction: row;  
    margin-left: 117px;
}
.logoezeraz{
    width: 56px;
    color: #ffffff;
    font-weight: 100;
    font-size: 14px;
    margin-right: 110px;
}
.dvanol20{
    color: #6D6D6D;
    font-weight: 100;
    font-size: 14px;
    margin-right: 47px;
}
.OOO{
    color: #6D6D6D;
    font-weight: 100;
    font-size: 14px;
    margin-right: 402px;
}
.coglashenie{
    color: #6D6D6D;
    font-weight: 100;
    font-size: 14px;
    margin-right: 402px;
}
@media screen and (min-width:1200px) and (max-width: 1500px){ 
    .logo{
        font-size: 20px;
        max-width: 81px;
        margin-left: 67px;
    }
    .avtocamin{
        font-size: 8px;
        margin-right: 350px;
    }
    .buttons{
        font-size: 11px;
    }
    .oneblc{
        margin-left: 41px;
    }
    .avtocamin1{
        font-size: 50px;
    }
    .ot99{
        font-size: 14px;
    }
    .tic9{
        font-size: 32px;
    }
    .nactr{
        font-size: 13px;
    }
    .nactr1{
        font-size: 13px;
    }
    .imgcamin{
        width: 618px;
        margin-left: 74px;
    }
    .xarakt{
        margin-left: 50px;
    }
    .zaprtext{
        margin-left: 41px;
    }
    .truba{
        margin-left: 41px;
    }
    .hose{
        margin-left: 424px;
    }
    .doct{
        margin-left: 424px;
    }
    .tire{
        margin-left: 575px;
    }
    .ymno{
        margin-left: 259px;
    }
    .alicaimihome{
        margin-left: -77px;
    }
    .etorowfivblc{
        margin-left: 41px;
        margin-right: 41px;
    }
    .galkaone{
        width: 361px;
    }
    .bolshecakinov{
        width: 479px;
    }
    .vibor{
        width: 460px;
    }
    .vibor2{
        width: 460px;
    }
    .catalog{
        margin-left: 0px;
        text-align: center;
    }
    .givemecatalog{
        margin-left: 440px;
    }
    .zadacha{
        margin-left: 0px;
    }
    .kvadrat1{
        margin-left: 41px;
        width: 335px;
    }
    .kvadrat{
        width: 335px;
    }
    .svoi{
        margin-left: 0px;
    }
    .svnblc{
        margin-left: 41px;
    }
    .youavtor{
        margin-left: 282px;
    }
    .ezeodincamin{
        width: 435px;
    }
    .dlina1{
        margin-top: -31px;
    }
    .octavitzayavky{
        margin-top: -21px;
    }
    .svias{
        margin-left: 41px;
    }
    .nomera{
        width: 159px;
    }
    .threeblocksrow{
        margin-left: 41px;
    }
    .rowezerowrow{
        margin-left: 41px;
    }
    .OOO{
        margin-right: 335px;
    }
}
@media screen and (min-width:900px) and (max-width: 1200px){ 
    .logo{
        font-size: 26px;
        margin-top: 76px;
    }
    .avtocamin{
        font-size: 10px;
        width: 0px;
        margin-right: 350px;
        margin-top: 84px;
    }
    .buttons{
        width: 360px;
        font-size: 12px;
    }
    .butn{
        margin-right: 13px;
    }
    .butn1{
        margin-right: 13px;
    }
    .imgtele{
        width: 31px;
        margin-top: -10px;
    }
    .avtocamin1{
        font-size: 52px;
    }
    .ot99{
        font-size: 16px;
    }
    .tic9{
        font-size: 34px;
    }
    .imgcamin{
        width: 490px;
        margin-left: 13px;
    }
    .nactcamin{
        font-size: 38px;
        width: 623px;
    }
    .speztex{
        font-size: 18px;
        width: 504px;
    }
    .ezecakin{
        width: 882px;
    }
    .xarakt{
        margin-left: 36px;
    }
    .xar{
        margin-right: 81px;
    }
    .imgo{
        width: 36px;
        margin-right: 13px;
    }
    .texto{
        width: 165px;
        font-size: 14px;
    }
    .textt{
        width: 156px;
        font-size: 14px;
    }
    .textth{
        font-size: 14px;
    }
    .zaprtext{
        margin-left: 0px;
    }
    .truba{
        margin-left: 0px;
    }
    .doct{
        margin-left: 345px;
    }
    .hose{
        margin-left: 345px;
        width: 20px;
    }
    .line{
        width: 31px;
    }
    .power{
        width: 20px;
    }
    .chastizapr{
        margin-left: -316px;
    }
    .zaprvk{
        width: 670px;
    }
    .elipsone{
        width: 140px;
        margin-top: -446px;
        margin-left: 278px;
    }
    .elipstwo{
        width: 167px;
        margin-top: -387px;
        margin-left: -59px;
    }
    .svet{
        width: 385px;
        margin-top: -662px;
        margin-left: 363px;
    }
    .threefife{
        width: 190px;
        margin-top: -547px;
        margin-left: 490px;
    }
    .ymno{
        font-size: 40px;
        margin-left: 136px;
    }
    .tire{
        width: 40px;
        margin-left: 414px;
    }
    .alicaimihome{
        width: 900px;
        margin-left: -26px;
    }
    .toplivo{
        font-size: 22px;
    }
    .panel{
        font-size: 12px;
    }
    .galkaone{
        width: 304px;
        margin-top: -22px;
    }
    .bolshecakinov{
        width: 386px;
        margin-top: -18px;
    }
    .galkatwo{
        width: 31px;
        margin-top: -37px;
        margin-left: -88px;
    }
    .block{
        margin-right: 36px;
    }
    .otdelka{
        font-size: 16px;
    }
    .variantione{
        font-size: 12px;
    }
    .toplivo2{
        font-size: 22px;
        margin-top: 129px;
    }
    .vibor{
        width: 370px;
        margin-top: 0px;
    }
    .vibor2{
        width: 370px;
    }
    .catalog{
        font-size: 23px;
        margin-left: 95px;
    }
    .givemecatalog{
        width: 280px;
        margin-left: 293px;
    }
    .zadacha{
        font-size: 33px;
    }
    .kvadrat1{
        width: 275px;
        margin-right: 20px;
        margin-left: 0px;
    }
    .kvadrat{
        width: 275px;
        margin-right: 20px; 
    }
    .svoi{
        font-size: 33px;
    }
    .youavtor{
        font-size: 36px;
        margin-left: -88px;
        text-align: center;
    }
    .blokone{
        margin-right: 53px;
    }
    .ezeodincamin{
        margin-top: 38px;
        width: 345px;
        margin-left: -115px;
    }
    .clasi{
        margin-top: 19px;
        margin-left: -115px;
    }
    .dlina{
        font-size: 10px;
    }
    .metra6{
        font-size: 22px;
    }
    .grayline{
        width: 225px;
        margin-left: 68px;
    }
    .yellowline{
        width: 225px;
        margin-left: -312px;
    }
    .decat{
        margin-left: 107px;
    }
    .razblok{
        margin-right: 55px;
    }
    .dlina1{
        font-size: 10px;
    }
    .oqenmnogodeneg{
        font-size: 22px;
        width: 80px;
    }
    .octavitzayavky{
        width: 190px;
        margin-top: -35px;
    }
    .I{
        margin-top: -73px;
    }
    .svias{
        font-size: 38px;
        margin-left: 0px;
    }
    .threeblocksrow{
        margin-left: 0px;
    }
    .oneblockinthree{
        margin-right: 119px;
    }
    .nomera{
        width: 144px;
        font-size: 20px;
    }
    .nomera2{
        font-size: 20px;
        width: 148px;
    }
    .nomera3{
        font-size: 34px;
    }
    .rowezerowrow{
        margin-left: 0px;
    }
    .logoezeraz{
        margin-right: 70px;
    }
    .dvanol20{
        font-size: 12px;
        margin-right: 47px;
    }
    .OOO{
        font-size: 12px;
        margin-right: 205px;
    }
    .coglashenie{
        font-size: 12px;
    }
    .twoblockinthree{
        margin-right: 165px;
    }
}